.piatti {
  a {
    @include edit-delete;
  }
}

.cartella {
  background-color: white;
  padding: 10px;
  margin: 10px;
  box-shadow: 3px 3px 6px -3px rgb(177, 177, 177);
}

.food-item.hide {
  background-color: rgba($grey-color, 0.6);
  color: $grey-color;

  img {
    opacity: 0.5;
  }
}

.food-item.show:hover {
  cursor: pointer;
}

.food-item.hide:hover {
  cursor: not-allowed;
}

.cart-test {
  width: 100%;
  background-color: #FFF;
}

.food-img {
  width: 150px;
  max-height: 150px;
  text-align: end;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.nome-card-food {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 370px;
}

.card-food-user {
  min-height: 95px;
}

.bottone-edit-elimina {
  background-color: white;
  border-radius: 100%;
  margin-left: 10px;
  box-shadow: 2px 2px 5px 2px rgb(216, 216, 216);
  &:hover {
    box-shadow: 0px 0px 0px 0px rgb(216, 216, 216);
    background-color: rgb(233, 233, 233);
  }
}

// bottone restore food
.bottone-generale {
  @include edit-delete;
}

// scrollbar personalizzata
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

// media query
@media all and (min-width: 268px) and (max-width: 1150px) {
 
  .card-food-user {
    min-height: 120px;
  }
}