// FOOTER

footer {

  .container-fluid {

    background-color: #2E3333;
    color: #FFF;
    a {
    text-decoration: none;
    }
  }

 .footer-block {
   background-color: #434848;
  //  text-align: center;
   margin: 10px 20px;
   a {
     color: #FFF;
   }
   img {
     padding: 5px 0;
     width: 100px;
   }
 }

 .social {
   color: #FFF;
   padding-left: 10px;
   a {
     color: #FFF;
     padding: 10px;
     text-decoration: none;
   }
 }
}
