// HEADER
.logo-header {
 img {
   width: 8rem;
 }
}

.menu-nav {
 button {
   background-color: #FFF;
   margin-left: 10px;
   margin-bottom: 5px;
   padding: 0 5px;
   border: 1px lightgrey solid;
   i {
     color: $logo-color;
   }
 }
}
