//homepage
.sfondo {
    color: white;
    background-image: url("/img/sfondo-home.png");
    background-size: cover;
    background-position: bottom;
    height: 330px;
    padding-top: 35px;
}

.check {
    margin: 10px;
    cursor: pointer;
}

.check input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
}

.check span {
    padding: 5px 10px;
    display: inline-block;
    color: gray;
    border-left: 2px solid $body-bg;
    // border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    &:hover {
      border-left: 2px solid rgb(163, 163, 163);
      // background-color: red;
        // box-shadow: 1px 1px 5px rgb(212, 212, 212);
    }
}

.check input:checked+span {
    color: $logo-color;
    border-left: 2px solid $logo-color;
}

.user {
    box-shadow: 1px 1px 10px 2px rgb(199, 199, 199);
    background-color: white;
    width: 300px;
    min-height: 200px;
    margin: 10px;
    border-radius: 3px;
    text-align: left;

    &:hover {
        box-shadow: 1px 1px 1px rgb(223, 223, 223);
        transform: scale(0.95);
    }
  
    a {
        text-decoration: none;
        color: gray;
    }
    .image {

        height: 200px;
        background-color: rgb(223, 223, 223);

        img {
            border-radius: 3px 3px 0 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .testo-user {
        min-height: 150px;
    }

}

.altezza {
    min-height: 80vh;
    padding-bottom: 40px;
}


// HP
.hero {
    // background-image: url('/img/deliveroo-gradient.png');
    background-size: cover;
    background-position: left;
    // height: 100vh;
  }

.main-headline {
    h1,h3 {
        font-weight: 600;
        padding-bottom: 20px;
    }
}


.card-tipo {
    text-align: left;
}

// media query
@media all and (min-width: 268px) and (max-width: 950px) {
    .user {
        width: 200px;
    }

    .user .image {
        min-height: 100px;

    }

    h4, .h4 {
        font-size: 1rem;
    }

    body {
        font-size: 0.8rem;
    }

    .user .testo-user {
        min-height: 140px;
    }
}