// PAGINA LOGIN
.login-form {
  padding-bottom: 20px;
  padding: 10px;
  h1 {
    text-align: center;
  }

  button {
    @include cta-primary;
    margin-bottom: 10px;
  }
  button.white {
    @include cta-white;
  }
}

.hero-login {
  img {
    width: 100%;
  }
}
button.reset {
  @include cta-primary;
}
