.info {
  h4 {
    color: $grey-color;
  }
}

button.btn-order {
  @include cta-white;
  color: $grey-color;
  margin: 20px 0;
  padding: 10px 20px;

  i {
    color: $logo-color;
  }
}
.card.order {
  padding: 20px;
  margin-bottom: 20px;

  .far.fa-sticky-note {
    color: black;
  }

  i {
    color: $logo-color;
  }
}
