// PAGINA SHOW

.sfondo-info {
  background-color: rgb(255, 255, 255);
  // border-bottom: 1px solid rgb(219, 219, 219);
  box-shadow: 1px 1px 7px 1px rgb(218, 218, 218);

}

// Info
.info {
  // border-bottom: 1px solid lightgrey;
  padding: 20px;
  i {
    color: $logo-color;
  }
  span, h6 {
    color: $grey-color;
    padding-top: 20px;
  }
}

// Img ristorante
.img-user {
  img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 7px 5px rgb(199, 199, 199);
  }
}

// Sezione Menu

// .container-fluid {
//   background-color: $grey-bg;
// }

.menu {
  padding-top: 15px;

  p {
    color: $grey-color;
  }
}

  // Card Piatto
  .food-item {
    background-color: #FFF;
    padding: 10px;
    // text-align: center;
    margin: 10px 0;

    img {
      height: 180px;
      object-fit: cover;
    }

    h4 {
      font-weight: bolder;
      padding-top: 13px;
    }

    .descrizione {
      overflow: hidden;
      text-overflow: ellipsis;
      // white-space: nowrap;
      height: 100px;
    }

    h6 {
      font-weight: bold;
      padding: 10px 0;
    }

    button {
      @include cta-primary;
      margin: 10px 0;
     }

     button:last-child {
       @include cta-white;
      color: $logo-color;
     }

     .card-img-overlay {
       text-align: center;
       color: #FFF;
       font-weight: 400;
       font-size: 1.5rem;
     }
   }

   .food-item.hide {
     background-color: rgba($grey-color, 0.6);
     color: $grey-color;

     img {
       opacity: 0.5;
     }
   }

   .food-item.show:hover {
     cursor: pointer;
   }

   .food-item.hide:hover {
     cursor: not-allowed;
   }

   // Bottoni quantità
   .quantity {
     text-align: center;
     font-size: 1.5rem;
     font-weight: bold;

     i {
       color: $logo-color;
       font-size: 1.3rem;
       padding: 20px 40px;
     }
   }

  // Carrello
    // Vuoto
    .cart-headline {
      text-align: center;

      button {
        background-color: lightgrey;
        border-radius: 10px;
        border: 1px solid lightgrey;
        color: #FFF;
        width: 80%;
        padding: 10px;
        cursor: not-allowed;

        button:hover {
          color: #FFF;

        }
      }

      h5 {
        color: $grey-color;
        font-size: 1rem;
        padding-top: 20px;
      }
    }


   // Pieno
  .cart-test {
    background-color: #FFF;
    box-shadow: -3px 3px 6px -3px rgb(177, 177, 177);
    padding: 10px;
    width: 100%;

    .item-test {
      margin-bottom: 10px;
      // padding: 0 10px;
      height: 50px;
      // border: 1px solid purple;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .quantity {
      font-size: 1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      span {
        display: inline-block;
        width: 20px;
      }
      i {
        padding: 8px;
        font-size: 0.9rem;
          &:hover {
            color: gray;
          }
        }
      }
    }

    .name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 179px;
      padding: 0 10px;
      text-align: left;
    }

    .total {
      padding-right: 8px;
      white-space: nowrap;
    }


// Pop-up carrello già esistente
.pop-up-cart {
  text-align: center;

   button {
     color: $logo-color;
     width: 100%;
     border-radius: 10px;
     border: 1px solid $logo-color;
     text-decoration: none;
     background-color: white;
     padding: 10px;
   }

   button:last-child {
     @include cta-primary;
     margin-bottom: 10px;
    }
}

   button.checkout {
     @include cta-primary;
     width: 90%;
     margin-top: 10px;
   }

   .img-popup {

     width: 300px;
     margin: auto;
   }