// Body
$body-bg: #f8fafc;

// Typography Deliveboo
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 1.0rem;
$line-height-base: 1.6;


// Colors Deliveboo
$logo-color: #00ccbc;
$blue-color: #440063;
$grey-color: #828585;
$dark-green: #007E8A;
$pink-color: #FFEAE4;
$footer-square: #434848;
$footer-color: #2E3333;
