// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// PAGINA SHOW

.info {
  padding: 20px 0;
  span {
    color: #828585;
  }
}

.navbar-menu {
  a {
    color: white;
    font-weight: bolder;
    background-color: #00ccbc;
    border-radius: 20%;
    padding: 5px;
    margin: 20px 5px 20px 0;
  }
}

.menu {
  margin-top: 20px;
}
.food-item {
  background-color: white;
  padding: 10px;
  // text-align: center;
  margin: 10px;

  button {
    background-color: #00ccbc;
    color: white;
    border: 1px solid #00ccbc;
    padding: 10px;
   }
 }

 li {
   list-style: none;
 }

 .price {

   padding: 20px 0;
   h6 {
     font-weight: bolder;
   }
 }

 // HEADER
.logo {
  img {
    width: 100px;
  }
}

.menu-nav {
  button {
    background-color: white;
    color: black;
    margin-left: 10px;
    border: 1px lightgrey solid;
    i {
      color: #00ccbc;
    }

  }
}

 // FOOTER
footer {
  background-color: #2E3333;
  color: white;
  justify-content: center;

  .footer-block {
    background-color: #434848;
    text-align: center;
    margin: 20px;

    a {
      color: white;
    }
  }

  .social i {
    color: white;
    padding-left: 10px;
  }
}

// stile provvisorio per homepage
.check {
    margin: 10px;
    cursor: pointer;
}

.check input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
}

.check span {
    padding: 5px 10px;
    display: inline-block;
    color: gray;
    border-left: 2px solid $body-bg;
    // border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.check input:checked+span {
    // color: white;
    // background-color: red;
    border-left: 2px solid red;
}

.search {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.user {
  background-color: white;
    width: 300px;
    // height: 200px;
    margin: 10px;
    padding: 10px;
    // border: 2px solid blue;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    img{
      width: 100%;
    }
}
// fine stile homepage


// TEST CARRELLO
.menu-test {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;

  .food-test {
    margin: 20px;
    padding: 10px;
    width: 300px;
    height: 200px;
    border: 1px solid blue;

    div {
      margin-bottom: 10px;
      font-size: 10px;
    }
  }

  .food-test.hide {
    background-color: grey;
  }

  .food-test.show:hover {
    cursor: pointer;
  }

  .food-test.hide:hover {
    cursor: not-allowed;
  }
}

.cart-test {
  border: 1px solid green;
  padding: 10px 0;

  .item-test {
    margin-bottom: 10px;
    padding: 0 10px;
    height: 50px;
    border: 1px solid purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
