// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

// Variables
@import 'variables';

// Common
@import 'common';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Foods
@import 'partials/foods';

// Dashboard
@import 'partials/dashboard';

// Home
@import 'partials/home';


// PAGINA REGISTER
.img-background {
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
// HP
.hero {
  width: 100vw;
  // background-image: url('https://res.cloudinary.com/wnotw/images/c_limit,w_1536,q_auto:eco,f_auto/v1582505115/ye9g26mw2moftw9cedaw/deliveroo-illustrations');
  background-size: cover;
  background-position: center;
}

.form-registration {
  button {
    background-color: $logo-color;
    color: white;
    border: none;

  }
}

// Pagina Foods

.cartella {
  background-color: white;
  padding: 10px;
  margin: 10px;
  box-shadow: 3px 3px 6px -3px rgb(177, 177, 177);

}


// LOGIN
.hero-login {
  img {
    width: 100%;
    height: 100%;
  }
}

// PAGINA REGISTER
.img-background {
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.form-registration {
  button {
    @include cta-primary;
  }
}

// PAGINA LOGIN
.login-form {
  h1 {
    text-align: center;
  }

  button {
    @include cta-primary;
    margin-bottom: 10px;
  }
  button.white {
    @include cta-white;
  }
}

// PAGINA SHOW

.info {
  padding: 20px 0;
  span {
    color: $grey-color;
  }
}

.navbar-menu {
  a {
    color: white;
    font-weight: bolder;
    background-color: $logo-color;
    border-radius: 30%;
    padding: 5px;
    margin: 20px 5px 20px 0;
  }
}

.menu {
  margin-top: 20px;
}

.alert-show {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alert-hide {
  display: none;
}

.food-item {
  background-color: white;
  padding: 10px;
  // text-align: center;
  margin: 10px;

  button {
    @include cta-primary;
   }
 }

 .food-item.hide {
   background-color: grey;
 }

 .food-item.show:hover {
   cursor: pointer;
 }

 .food-item.hide:hover {
   cursor: not-allowed;
 }

 li {
   list-style: none;
 }

 .price {

   padding: 20px 0;
   h6 {
     font-weight: bolder;
   }
 }

 // HEADER
.logo {
  img {
    width: 120px;
  }
}

.menu-nav {
  button {
    background-color: white;
    margin-left: 10px;
    border: 1px lightgrey solid;
    i {
      color: #00ccbc;
    }

  }
}

 // FOOTER
footer {
  background-color: #2E3333;
  color: white;
  justify-content: center;

  .footer-block {
    background-color: #434848;
    // text-align: center;
    margin: 20px;

    a {
      color: white;
    }
  }

  .social i {
    color: white;
    padding-left: 10px;
  }
}


// TEST CARRELLO
.cart-test {
  border: 1px solid green;
  padding: 10px 0;

  .item-test {
    margin-bottom: 10px;
    padding: 0 10px;
    height: 50px;
    border: 1px solid purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.bottone-edit-elimina {
  background-color: white;
  border-radius: 100%;
  margin-left: 10px;
  box-shadow: 2px 2px 5px 2px rgb(216, 216, 216);
  &:hover {
    box-shadow: 0px 0px 0px 0px rgb(216, 216, 216);
    background-color: rgb(233, 233, 233);
  }
}


.food-img {
  width: 150px;
  max-height: 100px;
  text-align: end;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.bottone-generale {
  @include edit-delete;
}