// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// PAGINA SHOW

.info {
  padding: 20px 0;
  span {
    color: #828585;
  }
}

.navbar-menu {
  a {
    color: white;
    font-weight: bolder;
    background-color: #00ccbc;
    border-radius: 20%;
    padding: 5px;
    margin: 20px 5px 20px 0;
  }
}

.menu {
  margin-top: 20px;
}
.food-item {
  background-color: white;
  padding: 10px;
  text-align: center;
  margin: 10px;
 }

 li {
   list-style: none;
 }

 .price {

   padding: 20px 0;
   h6 {
     font-weight: bolder;
   }
 }

 // HEADER
.logo {
  img {
    width: 100px;
  }
}

.menu-nav {
  button {
    background-color: white;
    color: black;
    margin-left: 10px;
    border: 1px lightgrey solid;
    i {
      color: #00ccbc;
    }

  }
}

 // FOOTER
footer {
  background-color: #2E3333;
  color: white;
  justify-content: center;

  .footer-block {
    background-color: #434848;
    text-align: center;
    margin: 20px;

    a {
      color: white;
    }
  }

  .social i {
    color: white;
    padding-left: 10px;
  }
}

// stile provvisorio per homepage
.check {
    margin: 10px;
    cursor: pointer;
}

.check input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
}

.check span {
    padding: 5px 10px;
    display: inline-block;
    color: red;
    border: 2px solid red;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.check input:checked+span {
    color: white;
    background-color: red;
}

.search {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.user {
    width: 100px;
    height: 100px;
    margin: 20px;
    padding: 10px;
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
// fine stile homepage
